<a href="https://colab.research.google.com/github/pramanand-coder/Python-programming/blob/main/DataTypeinPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Int data type**

In [1]:
a=6784
print(a,type(a))

6784 <class 'int'>

We can assign binary,hex,octal values to the variable and it will return the int values

In [2]:
a=0b010101
print(a,type(a))

21 <class 'int'>

In [3]:
b=0x67342
print(b,type(b))
c=0x1234ab23
print(c)
d=0o1234567
print(d)

422722 <class 'int'>
305441571
342391

In [4]:
#it will show the error because we cann't represent the binary,octal and hexadecimal values in the floating point
a=ob01011.11

SyntaxError: ignored

**Float Data Type**

In [10]:
f=87.89
print(f,type(f))

87.89 <class 'float'>

In [11]:
f=1.2e3
print(f,type(f))

1200.0 <class 'float'>

The Main advantage of exponential form is to represent big values in less memory

We cann't represent binary,octal and hexadecimal number into floating point values

In [5]:
#error because binary value cann't be represented in the floating point
f=0B11.01

SyntaxError: ignored

In [ ]:
#error
f=0X123b.23a

**Complex data type**

a+bj

a-->real part

b-->imaginary part

In [6]:
a=3+5j
print(a,type(a))

(3+5j) <class 'complex'>

In [7]:
print(a.real)
print(a.imag)

3.0
5.0

in complex data type we can represent real part as binary,hexa,and octal but not in the imaginary part

In [8]:
a=0B0101+7j
print(a,type(a))

(5+7j) <class 'complex'>

In [9]:
b=7+0B0110j

SyntaxError: ignored

**Bool data type**

we can use this data type represent the boolean values like True and False

In [12]:
b=True
print(b,type(b))

True <class 'bool'>

In [13]:
a=False
print(int(a),float(a),complex(a),str(a))

0 0.0 0j False

**String Data Type**

it is a sequence of character and in python there is no char data type .in the python char data type is also represented by String data type only

In [14]:
s="Hello"
s1='Welcome'
print(s,type(s))
print(s1,type(s1))

Hello <class 'str'>
Welcome <class 'str'>

Multiline string can be represented by triple single or double quotes

In [15]:
#it will show error
s="Hello sir,
I am pramanand Kumar studying python
programming"

SyntaxError: ignored

In [17]:
s='''Hello sir,
I am pramanand Kumar studying python
programming'''
print(s,type(s))

Hello sir,
I am pramanand Kumar studying python
programming <class 'str'>

In [16]:
s1="""Hello Sir/Mam,
This is Abhishek from svcet,chittor.
currently looking for a job"""
print(s1,type(s1))

Hello Sir/Mam,
This is Abhishek from svcet,chittor.
currently looking for a job <class 'str'>