<a href="https://colab.research.google.com/github/pramanand-coder/Python-programming/blob/main/patternProgram_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n=int(input("Enter the number of row:"))
for i in range(n):
  print("* ")

Enter the number of row:5
*
*
*
*
*

To print in the rows we have to declare end() function inside the print function

In [2]:
for i in range(n):
  print("* ",end=" ")

*  *  *  *  *

In [3]:
n=int(input("Enter the number of rows:"))
for row in range(n):
  for col in range(n):
    print("* ",end=" ")

Enter the number of rows:5
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

for printing in the rows and column format we have to give print() statement after executing column loop.

In [4]:
for row in range(n):
  for col in range(n):
    print("* ",end=" ")
  print()

*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

1.write a program to print right angle triangle

In [5]:
n=int(input("Enter the number of rows:"))
for i in range(n):
  for j in range(i+1):
    print("* ",end=" ")
  print()

Enter the number of rows:5
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

2nd method

In [6]:
for i in range(n):
  print("* "*(i+1))

*
* *
* * *
* * * *
* * * * *

2.write a program to print the right angle triangle in reverse order

In [7]:
n=int(input("Enter the number of rows:"))
for row in range(n):
  for col in range(n,row,-1):
    print("* ",end=" ")
  print()

Enter the number of rows:5
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

2nd way

In [9]:
for row in range(n):
  print("* "*(n-row))

* * * * *
* * * *
* * *
* *
*

3.write a program to print the star in pyramid:

In [11]:
n=int(input("Enter the number of rows:"))
for row in range(n):
  print(" "*(n-(row+1)),"* "*(row+1))

Enter the number of rows:5
     *
    * *
   * * *
  * * * *
 * * * * *